listaenlazadaclient/src/main/resources/ListaEnlazadaService.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.3-b02-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is 
	JAX-WS RI 2.1.3-b02-. -->
<definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://listaenlazadaservice.maraneda.cl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://listaenlazadaservice.maraneda.cl/"
	name="ListaEnlazadaServiceService">
	<types>
		<xsd:schema>
			<xsd:import
				namespace="http://listaenlazadaservice.maraneda.cl/"
				schemaLocation="http://localhost:8080/listaenlazadaservice/listaEnlazadaService?xsd=1" />
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="http://jaxb.dev.java.net/array"
				schemaLocation="http://localhost:8080/listaenlazadaservice/listaEnlazadaService?xsd=2" />
		</xsd:schema>
	</types>
	<message name="quitarTodos">
		<part name="arg0" type="tns:listaEnlazada" />
	</message>
	<message name="quitarTodosResponse">
		<part name="return" type="tns:serviceResponse" />
	</message>
	<message name="agregarElementoPrimero">
		<part name="arg0" type="tns:leNodo" />
		<part name="arg1" type="tns:listaEnlazada" />
	</message>
	<message name="agregarElementoPrimeroResponse">
		<part name="return" type="tns:serviceResponse" />
	</message>
	<message name="generarListaEnlazada">
		<part xmlns:ns1="http://jaxb.dev.java.net/array" name="arg0"
			type="ns1:anyTypeArray" />
	</message>
	<message name="generarListaEnlazadaResponse">
		<part name="return" type="tns:serviceResponse" />
	</message>
	<message name="agregarElementoUltimo">
		<part name="arg0" type="tns:leNodo" />
		<part name="arg1" type="tns:listaEnlazada" />
	</message>
	<message name="agregarElementoUltimoResponse">
		<part name="return" type="tns:serviceResponse" />
	</message>
	<message name="quitarElementoPrimero">
		<part name="arg0" type="tns:listaEnlazada" />
	</message>
	<message name="quitarElementoPrimeroResponse">
		<part name="return" type="tns:serviceResponse" />
	</message>
	<message name="quitarElementoUltimo">
		<part name="arg0" type="tns:listaEnlazada" />
	</message>
	<message name="quitarElementoUltimoResponse">
		<part name="return" type="tns:serviceResponse" />
	</message>
	<portType name="ListaEnlazadaService">
		<operation name="quitarTodos">
			<input message="tns:quitarTodos" />
			<output message="tns:quitarTodosResponse" />
		</operation>
		<operation name="agregarElementoPrimero"
			parameterOrder="arg0 arg1">
			<input message="tns:agregarElementoPrimero" />
			<output message="tns:agregarElementoPrimeroResponse" />
		</operation>
		<operation name="generarListaEnlazada">
			<input message="tns:generarListaEnlazada" />
			<output message="tns:generarListaEnlazadaResponse" />
		</operation>
		<operation name="agregarElementoUltimo"
			parameterOrder="arg0 arg1">
			<input message="tns:agregarElementoUltimo" />
			<output message="tns:agregarElementoUltimoResponse" />
		</operation>
		<operation name="quitarElementoPrimero">
			<input message="tns:quitarElementoPrimero" />
			<output message="tns:quitarElementoPrimeroResponse" />
		</operation>
		<operation name="quitarElementoUltimo">
			<input message="tns:quitarElementoUltimo" />
			<output message="tns:quitarElementoUltimoResponse" />
		</operation>
	</portType>
	<binding name="ListaEnlazadaServicePortBinding"
		type="tns:ListaEnlazadaService">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
		<operation name="quitarTodos">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</output>
		</operation>
		<operation name="agregarElementoPrimero">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</output>
		</operation>
		<operation name="generarListaEnlazada">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</output>
		</operation>
		<operation name="agregarElementoUltimo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</output>
		</operation>
		<operation name="quitarElementoPrimero">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</output>
		</operation>
		<operation name="quitarElementoUltimo">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</input>
			<output>
				<soap:body use="literal"
					namespace="http://listaenlazadaservice.maraneda.cl/" />
			</output>
		</operation>
	</binding>
	<service name="ListaEnlazadaServiceService">
		<port name="ListaEnlazadaServicePort"
			binding="tns:ListaEnlazadaServicePortBinding">
			<soap:address
				location="http://localhost:8080/listaenlazadaservice/listaEnlazadaService" />
		</port>
	</service>
</definitions>